{% extends "base.html" %}

{% block title %}
	<h4 class="title_tj"><p>所有<span>照片</span></p></h4>
{% endblock %}
		
{% block content %}		
		<div class='row'>
			
			<div class="col-sm-9">
            	{% for gallery in object_list %}
					<div class="row">
						<div class="col-sm-12">
							<h2><a href="#">{{gallery.title}}</h2>
							<p class="muted"><small>Published {{gallery.date_added}}</small></p>
							{% for photo in gallery.sample %}
								<a href="{{ photo.get_absolute_url }}">
									<img src="{{ photo.get_thumbnail_url }}"  alt="{{ photo.title }}"></img>
								</a> 
							{% endfor %} 
						</div>
					</div>
				{% endfor %}
				
            </div>		
{% endblock %}		