{% extends "base.html" %}

{% block title %}
	<h4 class="title_tj"><p>文章<span>推荐</span></p></h4>
{% endblock %}


{% block content %}
	<div class="col-sm-9">
					
		{% for blogs in blog %}

		<h5>
			<strong>
				<a title="{{blogs.title}}" href="/seoshare/504101625.html" target="_blank" style="text-indent:2em;">{{ blogs.title }}</a>
			</strong>
		</h5>
		
		<p>
			<small>
				{{ blogs.content|truncatewords_html:10|safe }}
			</small>
		</p>
		
		<a class="readmore" target="_blank" href="/blog/detail/{{blogs.id}}" title="进去看看">阅读全文>></a>
		
		<p class="dateview">
			<span>{{blogs.createtime|date:'Y-m-d'}}</span>
			<span>作者：xiaozeng</span>
			<span>个人博客：[<a href="/seofeel/">{{blogs.category}}</a>]</span>
		</p>
		<br>
		{% endfor %}

	</div>
{% endblock %}